.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 1700px; */
    /* background-color: pink; */
}

.header_desktop {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    /* background-color: lightblue; */
}

.header_mobile {
    display: none;
}

.h_part {
    width: 33%;
    display: flex;
}

.h_end {
    justify-content: end;
}

.h_middle {
    justify-content: center;
}

.body {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightcoral; */
}

footer {
    display: flex;
    justify-content: center;
    /* background-color: lightgreen; */
}

.contact {
    text-transform: lowercase;
    padding: 10px;
    /* background-color: beige; */
}

.contact:hover {
    cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 650px) {
    .header_desktop {
        display: none;
    }

    .header_mobile {
        display: flex;
        /* justify-content: space-between; */
        padding: 20px;
        flex-wrap: wrap;
    }

    .header_mobile > h1 {
        width: 100%;
        line-height: 0.8;
        /* background-color: pink; */
    }

    .body {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    footer {
        padding-bottom: 7px;
        /* background-color: pink; */
    }
}