.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: pink;
    padding: 20px 30px;
    min-height: 100% !important;
}

.header {
    background-color: red;
}

.body {
    background-color: hotpink;
}

.contactBox {
    background-color: black;
    padding: 10px 20px;
    width: fit-content;
}

.contactBox:hover {
    cursor: pointer;
}

.contact {
    text-transform: lowercase;
    color: white;
}

/* Mobile */
@media only screen and (max-width: 650px) {

}