
.image, .imgBackground {
    height: 100%;
    aspect-ratio: 463/700;
}

.image {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}

.imgBackground {
    background-color: rgb(79, 79, 79);
    position: absolute;
    z-index: -1;
}

.imageLoopCont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


/* Mobile */
@media only screen and (max-width: 650px) {
    .image, .imgBackground {
        /* height: 100%; */
        width: 100%;
    }
}