.container {
    display: flex;
    flex-direction: column;
}

.slideshow {
    background-color: pink;
    overflow: hidden;
    min-width: 300px;
    aspect-ratio: 2/3;
    height: 80%;
}

.slide {
    display: inline-block;
    height: 100px;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }


/* Buttons */
.slideshowDots {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-top: 10px;
}

.slideshowDot {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: .5px solid black;
}

.slideshowDot.active {
    background-color: black;
}