@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.appCont {
  background-color: aqua;
  height: 100% !important;
  display: flex;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'TimesNewRomanBold';
  letter-spacing: 2px;
  font-size: 25px;
}

h2 {
  font-family: 'TimesNewRoman';
  letter-spacing: 3px;
  font-size: 15px;
  text-transform: lowercase;
}